{% extends 'Catalogos/base.twig' %}

{% block title 'Reportes' %}

{% block tabla %}
    <table  class="table thead-light table-hover">
        <thead>
        <tr>
            <th>Reporte</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="table-content">
        <tr>
          <td> Horarios de Empleados </td>
          <td> <form action="visualiza" method="post">
            <input type="hidden" name="type" value="horarios">
            <button type="submit" name="btn-horario" class="btn btn-success" >Generar</button>
          </form>  </td>
        </tr>

        <tr>
          <td> Horas Extras </td>
          <td>
            <form action="visualiza" method="post">
              <div class="row">
                <input type="hidden" name="type" value="horas_extras">

                <div class="col-sm-1">
                  <label for="">Semana:</label>
                </div>
                <div class="col-sm-4">
                  <!-- <input type="week" name="semana" list="semana" class="form-control" value="" required> -->
                  <select class="form-control" name="semana">

                    {% for i in 0..53 %}
                        <option value="{{year}}-W{% if i<10 %}0{% endif %}{{ i }}">Semana {{ i+1 }}</option>
                    {% endfor %}

                  </select>
                </div>



                <div class="col-sm-1">
                  <label for="">Numero Oficio:</label>
                </div>

                <div class="col-sm-4">
                  <input type="text" name="coment" class="form-control" value="" required>
                </div>

                <div class="col-sm-2">
                    <button  type="submit" name="btn-extras" class="btn btn-success" >Generar</button>
                </div>


              </div>



          </form>
        </td>
        </tr>

        <tr>
          <td> Horas Extras por Empleado </td>
          <td>
            <form action="visualiza" method="post">
              <div class="row">
                <input type="hidden" name="type" value="horas_extras_empleado">

                <div class="col-sm-1">
                  <label for="">Empleado:</label>
                </div>

                <div class="col-sm-5">

                  <select class="form-control" name="empleado">
                    {% for d in empleados %}
                      <option value="{{ d.id }}"> {{ d.nombre }} {{ d.apellidos }} </option>
                    {% endfor %}
                  </select>

                </div>

                <div class="col-sm-1">
                  <label for="">Semana:</label>
                </div>
                <div class="col-sm-3">
                  <input type="week" name="semana" class="form-control" value="" required>
                </div>

                <div class="col-sm-2">
                    <button  type="submit" name="btn-extras" class="btn btn-success" >Generar</button>
                </div>


              </div>



          </form>
        </td>
        </tr>

        </tbody>
    </table>
{% endblock %}
